{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "http"
  ],
  "swagger": "2.0",
  "info": {
    "description": "接口文档",
    "title": "v1接口.",
    "version": "0.0.1"
  },
  "host": "cxz.125i.cn",
  "basePath": "/v1",
  "paths": {
    "/address/del": {
      "post": {
        "description": "删除地址",
        "tags": [
          "地址"
        ],
        "operationId": "Address_Del",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int64",
                  "x-go-name": "ID"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SUCCESS"
          }
        }
      }
    },
    "/address/list": {
      "get": {
        "description": "获取地址列表",
        "tags": [
          "地址"
        ],
        "operationId": "Address_List",
        "responses": {
          "200": {
            "$ref": "#/responses/AddressListResp"
          }
        }
      }
    },
    "/address/save": {
      "post": {
        "description": "保存地址",
        "tags": [
          "地址"
        ],
        "operationId": "Address_Save",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "detail_address": {
                  "description": "详细地址",
                  "type": "string",
                  "x-go-name": "DetailAddress"
                },
                "district_code": {
                  "description": "地区code",
                  "type": "string",
                  "x-go-name": "DistrictCode"
                },
                "id": {
                  "description": "有修改，没有新增",
                  "type": "integer",
                  "format": "int64",
                  "x-go-name": "ID"
                },
                "name": {
                  "description": "收货人姓名",
                  "type": "string",
                  "x-go-name": "Name"
                },
                "phone": {
                  "description": "收货人电话",
                  "type": "string",
                  "x-go-name": "Phone"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AddressSaveResp"
          }
        }
      }
    },
    "/district/gradation": {
      "get": {
        "description": "获取地区数据",
        "tags": [
          "地址"
        ],
        "operationId": "District_GetGradation",
        "responses": {
          "200": {
            "$ref": "#/responses/DistrictGetGradationResp"
          }
        }
      }
    },
    "/login": {
      "post": {
        "description": "登录",
        "tags": [
          "账号"
        ],
        "operationId": "Passport_Login",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Phone",
            "name": "phone",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Password",
            "name": "password",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SUCCESS"
          }
        }
      }
    },
    "/miniprogram/login": {
      "post": {
        "description": "通过小程序登录",
        "tags": [
          "账号"
        ],
        "operationId": "Passport_LoginByJsCode",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "js_code": {
                  "description": "用户登录凭证",
                  "type": "string",
                  "x-go-name": "JSCode"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PassportLoginByJsCodeResp"
          }
        }
      }
    },
    "/register": {
      "post": {
        "description": "账号注册",
        "tags": [
          "账号"
        ],
        "operationId": "Passport_Register",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "x-go-name": "Code"
                },
                "password": {
                  "type": "string",
                  "x-go-name": "Password"
                },
                "phone": {
                  "type": "string",
                  "x-go-name": "Phone"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SUCCESS"
          }
        }
      }
    },
    "/register/send": {
      "post": {
        "description": "发送注册验证码",
        "tags": [
          "账号"
        ],
        "operationId": "Passport_RegisterSend",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phone": {
                  "type": "string",
                  "x-go-name": "Phone"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SUCCESS"
          }
        }
      }
    },
    "/user": {
      "get": {
        "description": "获取登录用户信息",
        "tags": [
          "用户"
        ],
        "operationId": "User_GetUserInfo",
        "responses": {
          "200": {
            "$ref": "#/responses/UserGetUserInfoResp"
          }
        }
      }
    }
  },
  "definitions": {
    "Address": {
      "description": "用户地址",
      "type": "object",
      "properties": {
        "created": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Created"
        },
        "detail_address": {
          "type": "string",
          "x-go-name": "DetailAddress"
        },
        "district_code": {
          "type": "string",
          "x-go-name": "DistrictCode"
        },
        "district_name": {
          "type": "string",
          "x-go-name": "DistrictName"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ID"
        },
        "is_default": {
          "$ref": "#/definitions/Sure"
        },
        "is_del": {
          "$ref": "#/definitions/Sure"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "phone": {
          "type": "string",
          "x-go-name": "Phone"
        },
        "updated": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Updated"
        },
        "user_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "UserID"
        }
      },
      "x-go-package": "github.com/hfdend/cxz/models"
    },
    "District": {
      "type": "object",
      "properties": {
        "area_code": {
          "type": "string",
          "x-go-name": "AreaCode"
        },
        "children": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/District"
          },
          "x-go-name": "Children"
        },
        "code": {
          "type": "string",
          "x-go-name": "Code"
        },
        "extra": {
          "type": "string",
          "x-go-name": "Extra"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ID"
        },
        "initial": {
          "type": "string",
          "x-go-name": "Initial"
        },
        "initials": {
          "type": "string",
          "x-go-name": "Initials"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "order": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Order"
        },
        "parent_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ParentID"
        },
        "pinyin": {
          "type": "string",
          "x-go-name": "Pinyin"
        },
        "suffix": {
          "type": "string",
          "x-go-name": "Suffix"
        }
      },
      "x-go-package": "github.com/hfdend/cxz/models"
    },
    "Sure": {
      "type": "integer",
      "format": "int64",
      "x-go-package": "github.com/hfdend/cxz/models"
    },
    "Token": {
      "description": "Token Token",
      "type": "object",
      "properties": {
        "access_token": {
          "type": "string",
          "x-go-name": "AccessToken"
        },
        "expiry": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "Expiry"
        },
        "refresh_token": {
          "type": "string",
          "x-go-name": "RefreshToken"
        }
      },
      "x-go-package": "github.com/hfdend/cxz/models"
    }
  },
  "responses": {
    "AddressListResp": {
      "description": "地址列表",
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/Address"
        }
      }
    },
    "AddressSaveResp": {
      "description": "地址数据",
      "schema": {
        "$ref": "#/definitions/Address"
      }
    },
    "DistrictGetGradationResp": {
      "description": "地区数据",
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/District"
        }
      }
    },
    "PassportLoginByJsCodeResp": {
      "schema": {
        "$ref": "#/definitions/Token"
      }
    },
    "SUCCESS": {
      "description": "成功返回 success 字符串"
    },
    "UserGetUserInfoResp": {
      "description": "登录用户信息",
      "schema": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Created"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "x-go-name": "ID"
          },
          "phone": {
            "type": "string",
            "x-go-name": "Phone"
          },
          "unionid": {
            "type": "string",
            "x-go-name": "UnionID"
          },
          "updated": {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Updated"
          }
        }
      }
    }
  }
}