{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "http"
  ],
  "swagger": "2.0",
  "info": {
    "description": "接口文档",
    "title": "v1接口.",
    "version": "0.0.1"
  },
  "host": "cxz.125i.cn",
  "basePath": "/v1",
  "paths": {
    "/address/del": {
      "post": {
        "description": "删除地址",
        "tags": [
          "地址"
        ],
        "operationId": "Address_Del",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int64",
                  "x-go-name": "ID"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SUCCESS"
          }
        }
      }
    },
    "/address/detail": {
      "get": {
        "description": "获取地址列表",
        "tags": [
          "地址"
        ],
        "operationId": "Address_GetByID",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "ID",
            "name": "id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AddressGetByIDResp"
          }
        }
      }
    },
    "/address/list": {
      "get": {
        "description": "获取地址列表",
        "tags": [
          "地址"
        ],
        "operationId": "Address_List",
        "responses": {
          "200": {
            "$ref": "#/responses/AddressListResp"
          }
        }
      }
    },
    "/address/save": {
      "post": {
        "description": "保存地址",
        "tags": [
          "地址"
        ],
        "operationId": "Address_Save",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "detail_address": {
                  "description": "详细地址",
                  "type": "string",
                  "x-go-name": "DetailAddress"
                },
                "district_code": {
                  "description": "地区code",
                  "type": "string",
                  "x-go-name": "DistrictCode"
                },
                "id": {
                  "description": "有修改，没有新增",
                  "type": "integer",
                  "format": "int64",
                  "x-go-name": "ID"
                },
                "is_default": {
                  "$ref": "#/definitions/Sure"
                },
                "name": {
                  "description": "收货人姓名",
                  "type": "string",
                  "x-go-name": "Name"
                },
                "phone": {
                  "description": "收货人电话",
                  "type": "string",
                  "x-go-name": "Phone"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AddressSaveResp"
          }
        }
      }
    },
    "/bind/phone": {
      "post": {
        "description": "绑定手机号",
        "tags": [
          "账号"
        ],
        "operationId": "Passport_BindPhone",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "x-go-name": "Code"
                },
                "phone": {
                  "type": "string",
                  "x-go-name": "Phone"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SUCCESS"
          }
        }
      }
    },
    "/district/gradation": {
      "get": {
        "description": "获取地区数据",
        "tags": [
          "地址"
        ],
        "operationId": "District_GetGradation",
        "responses": {
          "200": {
            "$ref": "#/responses/DistrictGetGradationResp"
          }
        }
      }
    },
    "/login": {
      "post": {
        "description": "登录",
        "tags": [
          "账号"
        ],
        "operationId": "Passport_Login",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Phone",
            "name": "phone",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Password",
            "name": "password",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SUCCESS"
          }
        }
      }
    },
    "/miniprogram/login": {
      "post": {
        "description": "通过小程序登录",
        "tags": [
          "账号"
        ],
        "operationId": "Passport_LoginByJsCode",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "js_code": {
                  "description": "用户登录凭证",
                  "type": "string",
                  "x-go-name": "JSCode"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/PassportLoginByJsCodeResp"
          }
        }
      }
    },
    "/order/build": {
      "post": {
        "description": "下单",
        "tags": [
          "订单"
        ],
        "operationId": "Order_Build",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "address_id": {
                  "type": "integer",
                  "format": "int64",
                  "x-go-name": "AddressID"
                },
                "notice": {
                  "description": "买家留言",
                  "type": "string",
                  "x-go-name": "Notice"
                },
                "product_info": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/OrderProductInfo"
                  },
                  "x-go-name": "ProductInfo"
                },
                "week_number": {
                  "type": "integer",
                  "format": "int64",
                  "x-go-name": "WeekNumber"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OrderBuildResp"
          }
        }
      }
    },
    "/order/detail": {
      "get": {
        "description": "订单详情",
        "tags": [
          "订单"
        ],
        "operationId": "Order_GetByOrderID",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "OrderID",
            "name": "order_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OrderGetByOrderIDResp"
          }
        }
      }
    },
    "/order/list": {
      "get": {
        "description": "订单列表",
        "tags": [
          "订单"
        ],
        "operationId": "Order_GetList",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Page",
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OrderGetListResp"
          }
        }
      }
    },
    "/order/products/freight": {
      "post": {
        "description": "获取商品运费",
        "operationId": "Order_GetFreight",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "product_info": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/OrderProductInfo"
                  },
                  "x-go-name": "ProductInfo"
                },
                "week_number": {
                  "type": "integer",
                  "format": "int64",
                  "x-go-name": "WeekNumber"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OrderGetFreightResp"
          }
        }
      }
    },
    "/order/wxapayment": {
      "post": {
        "description": "小程序支付",
        "tags": [
          "订单"
        ],
        "operationId": "Order_WXAPayment",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "order_id": {
                  "type": "string",
                  "x-go-name": "OrderID"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/OrderWXAPaymentResp"
          }
        }
      }
    },
    "/product/attribute/items": {
      "get": {
        "tags": [
          "商品"
        ],
        "operationId": "Product_AttributeItems",
        "responses": {
          "200": {
            "$ref": "#/responses/ProductAttributeItemsResp"
          }
        }
      }
    },
    "/product/list": {
      "get": {
        "description": "获取商品列表",
        "tags": [
          "商品"
        ],
        "operationId": "Product_GetList",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Type",
            "description": "种类",
            "name": "type",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Taste",
            "description": "口味",
            "name": "taste",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Page",
            "name": "page",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/ProductGetListResp"
          }
        }
      }
    },
    "/register": {
      "post": {
        "description": "账号注册",
        "tags": [
          "账号"
        ],
        "operationId": "Passport_Register",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "x-go-name": "Code"
                },
                "password": {
                  "type": "string",
                  "x-go-name": "Password"
                },
                "phone": {
                  "type": "string",
                  "x-go-name": "Phone"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SUCCESS"
          }
        }
      }
    },
    "/register/send": {
      "post": {
        "description": "发送注册验证码",
        "tags": [
          "账号"
        ],
        "operationId": "Passport_RegisterSend",
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "phone": {
                  "type": "string",
                  "x-go-name": "Phone"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/SUCCESS"
          }
        }
      }
    },
    "/user": {
      "get": {
        "description": "获取登录用户信息",
        "tags": [
          "用户"
        ],
        "operationId": "User_GetUserInfo",
        "responses": {
          "200": {
            "$ref": "#/responses/UserGetUserInfoResp"
          }
        }
      }
    }
  },
  "definitions": {
    "Address": {
      "description": "用户地址",
      "type": "object",
      "properties": {
        "created": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Created"
        },
        "detail_address": {
          "type": "string",
          "x-go-name": "DetailAddress"
        },
        "district_code": {
          "type": "string",
          "x-go-name": "DistrictCode"
        },
        "district_name": {
          "type": "string",
          "x-go-name": "DistrictName"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ID"
        },
        "is_default": {
          "$ref": "#/definitions/Sure"
        },
        "is_del": {
          "$ref": "#/definitions/Sure"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "phone": {
          "type": "string",
          "x-go-name": "Phone"
        },
        "updated": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Updated"
        },
        "user_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "UserID"
        }
      },
      "x-go-package": "github.com/hfdend/cxz/models"
    },
    "AttributeItem": {
      "type": "object",
      "properties": {
        "attribute_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "AttributeID"
        },
        "created": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Created"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ID"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "sort": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Sort"
        }
      },
      "x-go-package": "github.com/hfdend/cxz/models"
    },
    "District": {
      "type": "object",
      "properties": {
        "area_code": {
          "type": "string",
          "x-go-name": "AreaCode"
        },
        "children": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/District"
          },
          "x-go-name": "Children"
        },
        "code": {
          "type": "string",
          "x-go-name": "Code"
        },
        "extra": {
          "type": "string",
          "x-go-name": "Extra"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ID"
        },
        "initial": {
          "type": "string",
          "x-go-name": "Initial"
        },
        "initials": {
          "type": "string",
          "x-go-name": "Initials"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "order": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Order"
        },
        "parent_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ParentID"
        },
        "pinyin": {
          "type": "string",
          "x-go-name": "Pinyin"
        },
        "suffix": {
          "type": "string",
          "x-go-name": "Suffix"
        }
      },
      "x-go-package": "github.com/hfdend/cxz/models"
    },
    "Order": {
      "description": "订单",
      "type": "object",
      "properties": {
        "body": {
          "type": "string",
          "x-go-name": "Body"
        },
        "created": {
          "description": "创建时间",
          "type": "integer",
          "format": "int64",
          "x-go-name": "Created"
        },
        "exp_time": {
          "description": "支付截止时间",
          "type": "integer",
          "format": "int64",
          "x-go-name": "ExpTime"
        },
        "freight": {
          "description": "运费",
          "type": "number",
          "format": "double",
          "x-go-name": "Freight"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ID"
        },
        "notice": {
          "description": "买家留言",
          "type": "string",
          "x-go-name": "Notice"
        },
        "order_address": {
          "$ref": "#/definitions/OrderAddress"
        },
        "order_id": {
          "type": "string",
          "x-go-name": "OrderID"
        },
        "order_products": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OrderProduct"
          },
          "x-go-name": "OrderProducts"
        },
        "payment_method": {
          "description": "支付方式 1: 微信支付",
          "type": "integer",
          "format": "int64",
          "x-go-name": "PaymentMethod"
        },
        "payment_price": {
          "description": "支付金额",
          "type": "number",
          "format": "double",
          "x-go-name": "PaymentPrice"
        },
        "payment_time": {
          "description": "支付时间",
          "type": "integer",
          "format": "int64",
          "x-go-name": "PaymentTime"
        },
        "plan_id": {
          "description": "如果是月够的则有值",
          "type": "integer",
          "format": "int64",
          "x-go-name": "PlanID"
        },
        "price": {
          "description": "金额",
          "type": "number",
          "format": "double",
          "x-go-name": "Price"
        },
        "status": {
          "$ref": "#/definitions/OrderStatus"
        },
        "update_time": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "UpdateTime"
        },
        "user_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "UserID"
        }
      },
      "x-go-package": "github.com/hfdend/cxz/models"
    },
    "OrderAddress": {
      "type": "object",
      "properties": {
        "address_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "AddressID"
        },
        "created": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Created"
        },
        "detail_address": {
          "type": "string",
          "x-go-name": "DetailAddress"
        },
        "district_code": {
          "type": "string",
          "x-go-name": "DistrictCode"
        },
        "district_name": {
          "type": "string",
          "x-go-name": "DistrictName"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ID"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "order_id": {
          "type": "string",
          "x-go-name": "OrderID"
        },
        "phone": {
          "type": "string",
          "x-go-name": "Phone"
        },
        "user_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "UserID"
        }
      },
      "x-go-package": "github.com/hfdend/cxz/models"
    },
    "OrderProduct": {
      "type": "object",
      "properties": {
        "created": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Created"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ID"
        },
        "image": {
          "description": "图片",
          "type": "string",
          "x-go-name": "Image"
        },
        "image_src": {
          "type": "string",
          "x-go-name": "ImageSrc"
        },
        "intro": {
          "description": "介绍",
          "type": "string",
          "x-go-name": "Intro"
        },
        "iprice": {
          "description": "此项价格",
          "type": "number",
          "format": "double",
          "x-go-name": "IPrice"
        },
        "mark": {
          "description": "备注",
          "type": "string",
          "x-go-name": "Mark"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "number": {
          "description": "商品数量",
          "type": "integer",
          "format": "int64",
          "x-go-name": "Number"
        },
        "order_id": {
          "type": "string",
          "x-go-name": "OrderID"
        },
        "price": {
          "description": "售价",
          "type": "number",
          "format": "double",
          "x-go-name": "Price"
        },
        "product_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ProductID"
        },
        "taste": {
          "description": "味道",
          "type": "string",
          "x-go-name": "Taste"
        },
        "type": {
          "description": "类型",
          "type": "string",
          "x-go-name": "Type"
        },
        "unit": {
          "description": "商品规格",
          "type": "string",
          "x-go-name": "Unit"
        },
        "updated": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Updated"
        }
      },
      "x-go-package": "github.com/hfdend/cxz/models"
    },
    "OrderProductInfo": {
      "type": "object",
      "properties": {
        "number": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Number"
        },
        "product_id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ProductID"
        }
      },
      "x-go-package": "github.com/hfdend/cxz/modules"
    },
    "OrderStatus": {
      "description": "订单状态\n1: 等待付款\n2: 付款成功\n3: 订单发货中 (月够订单)\n4: 发货完成",
      "type": "integer",
      "format": "int64",
      "x-go-package": "github.com/hfdend/cxz/models"
    },
    "Pager": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Count"
        },
        "limit": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Limit"
        },
        "offset": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Offset"
        },
        "page": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Page"
        },
        "page_count": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "PageCount"
        }
      },
      "x-go-package": "github.com/hfdend/cxz/models"
    },
    "PayWxaRequest": {
      "description": "微信小程序调用支付对象",
      "type": "object",
      "properties": {
        "nonceStr": {
          "type": "string",
          "x-go-name": "NonceStr"
        },
        "package": {
          "type": "string",
          "x-go-name": "Package"
        },
        "paySign": {
          "type": "string",
          "x-go-name": "PaySign"
        },
        "signType": {
          "type": "string",
          "x-go-name": "SignType"
        },
        "timeStamp": {
          "type": "string",
          "x-go-name": "TimeStamp"
        }
      },
      "x-go-package": "github.com/hfdend/cxz/payment/wxpay"
    },
    "Product": {
      "type": "object",
      "properties": {
        "created": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Created"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "ID"
        },
        "image": {
          "description": "图片",
          "type": "string",
          "x-go-name": "Image"
        },
        "image_src": {
          "type": "string",
          "x-go-name": "ImageSrc"
        },
        "intro": {
          "description": "介绍",
          "type": "string",
          "x-go-name": "Intro"
        },
        "is_del": {
          "$ref": "#/definitions/Sure"
        },
        "mark": {
          "description": "备注",
          "type": "string",
          "x-go-name": "Mark"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        },
        "price": {
          "description": "售价",
          "type": "number",
          "format": "double",
          "x-go-name": "Price"
        },
        "taste": {
          "description": "味道",
          "type": "string",
          "x-go-name": "Taste"
        },
        "type": {
          "description": "类型",
          "type": "string",
          "x-go-name": "Type"
        },
        "unit": {
          "description": "商品规格",
          "type": "string",
          "x-go-name": "Unit"
        },
        "updated": {
          "type": "integer",
          "format": "int64",
          "x-go-name": "Updated"
        }
      },
      "x-go-package": "github.com/hfdend/cxz/models"
    },
    "Sure": {
      "type": "integer",
      "format": "int64",
      "x-go-package": "github.com/hfdend/cxz/models"
    },
    "Token": {
      "description": "Token Token",
      "type": "object",
      "properties": {
        "access_token": {
          "type": "string",
          "x-go-name": "AccessToken"
        },
        "expiry": {
          "type": "string",
          "format": "date-time",
          "x-go-name": "Expiry"
        },
        "refresh_token": {
          "type": "string",
          "x-go-name": "RefreshToken"
        }
      },
      "x-go-package": "github.com/hfdend/cxz/models"
    }
  },
  "responses": {
    "AddressGetByIDResp": {
      "description": "地址详情",
      "schema": {
        "$ref": "#/definitions/Address"
      }
    },
    "AddressListResp": {
      "description": "地址列表",
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/Address"
        }
      }
    },
    "AddressSaveResp": {
      "description": "地址数据",
      "schema": {
        "$ref": "#/definitions/Address"
      }
    },
    "DistrictGetGradationResp": {
      "description": "地区数据",
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/District"
        }
      }
    },
    "OrderBuildResp": {
      "description": "订单详情",
      "schema": {
        "$ref": "#/definitions/Order"
      }
    },
    "OrderGetByOrderIDResp": {
      "description": "订单详情",
      "schema": {
        "$ref": "#/definitions/Order"
      }
    },
    "OrderGetFreightResp": {
      "description": "运费",
      "schema": {
        "type": "object",
        "properties": {
          "freight": {
            "description": "运费",
            "type": "number",
            "format": "double",
            "x-go-name": "Freight"
          }
        }
      }
    },
    "OrderGetListResp": {
      "description": "订单列表",
      "schema": {
        "type": "object",
        "properties": {
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Order"
            },
            "x-go-name": "List"
          },
          "pager": {
            "$ref": "#/definitions/Pager"
          }
        }
      }
    },
    "OrderWXAPaymentResp": {
      "description": "小程序支付",
      "schema": {
        "$ref": "#/definitions/PayWxaRequest"
      }
    },
    "PassportLoginByJsCodeResp": {
      "schema": {
        "$ref": "#/definitions/Token"
      }
    },
    "ProductAttributeItemsResp": {
      "description": "商品分类和属性",
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/AttributeItem"
        }
      }
    },
    "ProductGetListResp": {
      "description": "商品列表",
      "schema": {
        "type": "object",
        "properties": {
          "Pager": {
            "$ref": "#/definitions/Pager"
          },
          "list": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Product"
            },
            "x-go-name": "List"
          }
        }
      }
    },
    "SUCCESS": {
      "description": "成功返回 success 字符串"
    },
    "UserGetUserInfoResp": {
      "description": "登录用户信息",
      "schema": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Created"
          },
          "id": {
            "type": "integer",
            "format": "int64",
            "x-go-name": "ID"
          },
          "openid": {
            "type": "string",
            "x-go-name": "OpenID"
          },
          "phone": {
            "type": "string",
            "x-go-name": "Phone"
          },
          "updated": {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Updated"
          }
        }
      }
    }
  }
}